@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Home Page";
}
@model InMemory.SpendSmart.Models.Expense


<div class="text-center">
    @* <h1 class="display-4">Create / Edit an Expense:</h1> *@
    <h1 class="display-4">@ViewData["SectionTitle"]?.ToString():</h1>
</div>
<form asp-action="CreateEditExpense" asp-controller="Expense">
    <input hidden type="number" asp-for="Id" class="form-control" placeholder="0" /> <!--value="@Model.Id"-->

    <label class="mt-4">Value$</label>
    <input type="number" asp-for="Value" class="form-control" placeholder="0" step="0.01" />

    <label class="mt-4">Description</label>
    <input type="text" asp-for="Description" class="form-control" placeholder="Add a description here.." />

    <button class="btn btn-primary mt-4" type="submit">Ok</button>
</form>
